[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
build = "*"
yueda27 = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.7"
